@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
h3{
    margin-left: 40%;
    margin-top: 5%
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f7f7;
  color: #2e2e2e;
  width: 100%;
  height: auto;
  min-height: 800px;
  line-height: 1.6;
  vertical-align: baseline;
}

img {
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  background: transparent;
  padding: 19px 39px 18px 39px;
  font-size: large;
}

th {
  text-align: left;
  font-weight: 500;
  border: none;
}

th span,
td span {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  display: none;
}

.bg-green, .btn-primary {
  background-color: #7C5CfC;
}

.bg-blue {
  background-color: #aff5f7;
}

.bg-yellow {
  background-color: #fff691;
}

.text-lg {
  font-size: 1.802rem;
}
@media screen and (max-width: 860px) {
  .text-lg {
    font-size: 1.602rem;
  }
}

.btn {
  font-weight: 700;
  font-size: 1rem;
  text-transform: capitalize;
  transition: 0.5ms ease;
}
@media screen and (max-width: 860px) {
  .btn {
    font-size: 0.85rem;
  }
}

.btn-primary {
  color: #0f0f0f;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #7C5CfC;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(150px, 25%);
  grid-template-rows: 95px auto;
  -webkit-border-before: 7px solid #0f0f0f;
          border-block-start: 7px solid #0f0f0f;
}
@media screen and (max-width: 860px) {
  .main {
    grid-template-columns: 100%;
  }
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(65px, 10%) 1fr;
  grid-template-rows: inherit;
  grid-column-start: 1;
  grid-column-end: 2;
}

.menu {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu svg {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 860px) {
  .menu svg {
    width: 26px;
    height: 26px;
  }
}

.nav {
  line-height: 95px;
}
.nav .page-title {
  padding-left: 2.6rem;
}
@media screen and (max-width: 860px) {
  .nav .page-title {
    padding-left: 1.8rem;
  }
}

.data-summary {
  display: grid;
  height: 100vh;
  grid-column: 2;
  grid-row: 1;
  grid-template-rows: repeat(2, 95px) repeat(2, 1fr) 60px;
  grid-template-columns: 100%;
  border-left: 0.86px solid rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 860px) {
  .data-summary {
    height: auto;
    grid-column: auto;
    grid-row: auto;
    /*grid-template-rows: repeat(2, calc($header-height + 10vh)) repeat(2, 1fr) 70px;*/
  }
}

.data-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.data-info__heading {
  font-size: 0.67rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.data-info__content {
  font-weight: 400;
}
.data-info__content .sup {
  font-weight: 500;
  font-size: 1.125rem;
  -webkit-margin-end: 0.29rem;
          margin-inline-end: 0.29rem;
}
.data-info__amount {
  letter-spacing: 2px;
}
.data-info__tag {
  min-width: 120px;
  min-height: 25px;
  line-height: 25px;
  border-radius: 25px;
  text-align: center;
  font-weight: 300;
  font-size: 0.67rem;
  background-color: #fdfdfd;
}

.data-info:nth-child(4) {
  border-bottom: none;
}

.data-info--light {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 200px;
}
.data-info--light .data-info__content {
  margin: 1rem 0;
}

.data-body {
  width: 100%;
}

.scroll-check {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  padding: 12px;
}
@media screen and (max-width: 700px) {
  .scroll-check {
    overflow-x: scroll;
  }
}

#data-table {
  width: 100%;
  min-width: 600px;
}
#data-table .table__row--header {
  background-color: #0f0f0f;
  color: #ffffff;
}
#data-table .table__row--header th:first-child {
  text-align: center;
}
#data-table .table__row--header .header__title {
  display: block;
  padding: 1rem 0;
  text-transform: capitalize;
  font-weight: 400;
  margin-right: 260px;
}
#data-table .table__row {
  height: 4rem;
}
#data-table .table__row:nth-child(odd) {
  background-color: #fdfdfd;
}
#data-table .table__row .id {
  text-align: center;
}
#data-table .table__row .price,
#data-table .table__row .merchant {
  font-weight: 400;
  font-size: 1rem;
}
#data-table .table__row .date,
#data-table .table__row .charge {
  text-transform: capitalize;
  font-size: 0.85rem;
  color: #8a8a8a;
}
@media screen and (max-width: 860px) {
  #data-table col:nth-child(1) {
    display: none;
  }
}




