{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splitgood</title>
    {% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_group.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet">

    {% endblock %}
</head>


<body>
{% block content %}
{% csrf_token %}
        <div class="add_group">
            <div class="row">
                <div class="col-md-12">
                    <form action="/group/create_group/" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend><span class="number">1</span> Create Group</legend>

                            <label for="projectname">Group Name:</label>
                            <input type="text" id="projectname" name="group_name" placeholder="For ex. Apna Khata" required>


                            <label for="People">People:</label>
                            <select id="people" class="js-example-basic-multiple selectfield" name="users"
                                    multiple="multiple">
                                {% for user in users %}
                                    <option value="{{ user }}">{{ user.username }}</option>
                                {% endfor %}
                            </select>


                            <label for="description">Group Description:</label>
                            <textarea id="description" name="group_desc"></textarea>


                        </fieldset>

                        <button type="submit">Create Group</button>

                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.js-example-basic-multiple').select2(
            {minimumInputLength: 3,}
        );
    });
</script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}
</body>
</html>