{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splitgood</title>
    {% block style %}
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/list_expense.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="grid">
  <div class="grid__item">
    <div class="card">
      <div class="card__content">
        <h1 class="card__header">{{ expense_name }}</h1>
        <p class="card__text">{{ date }}</p>
          <p class="card__text">You Own {{ lends }}</p>
        <button class="card__btn"><a href="/split/add_expense"> Add another Expense </a><span>&rarr;</span></button>
          <p><input type="hidden" value="{{ expense.id }}" name="expense_id"></p>
          <button class="card__btn"><a href="/split/edit_expense/?expense={{ expense.id }}"> Edit Expense </a><span>&rarr;</span></button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
</body>
</html>